*{
    font-family: 'Outfit',sans-serif;
}


nav{
    display:flex;
    padding: 0% 6%;
    justify-content: space-between; 
    background-color: #606c38ff;
}

.hero_text{
    margin-top: 11rem;
    float: left;
    width: 40%;
    margin-left: 3rem;
    color:#bc6c25ff;
}
.hero_text b{
    color:#283618ff;
}

.btn{
    margin-left: 3rem;
    width: 20%;
    padding: 2px 2px;
    background-color:#283618ff;
    margin-top: 1rem;
}



.navbar-nav{
    margin-left: 45em;
   
    
  }

.navbar-nav > li{
    margin-left: 1em;
    transition: all 0.3s ease-in-out;
}


#moreanimate{
    transition: all 0.3s ease-in-out;
}
#moreanimate:hover{
    transform: translateY(-0.3em);

    background-color: #bc6c25ff;
    border-radius: 4rem;
}

.navbar-nav > li a:hover{
    color:#bc6c25ff;
}
.hero-btn{
    width: 20%;
    left: 3%;
    margin-top: 1rem;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 10px 34px;
    font-size: 20px;
    background: #606c38ff;;
    position: relative;
    cursor: pointer;
    border-radius: 1rem;
    transition: all 0.5s ease-in-out;
}
.hero-btn:hover{
    border: 1px sold #606c38ff;
    background: #bc6c25ff;;
    

    transform: translateY(-0.3em);
    transition: all 0.5s ease-in-out;

}

.thisimage{
    float:right;
    align-items: end;
    margin-left:850px;
    margin-top: -270px;
    width: 30%;
    transition: all 0.3s ease-in-out;
    animation: hovering 5s infinite;
    
}



@keyframes hovering{
    0%{
      transform:translateY(0rem);
    
    }
    50%{
      transform:translateY(-1rem);
    }
    100%{
      transform:translateY(0rem);
    }
  
    
    }



  div ul li a:hover{
    color:#bc6c25ff;
    cursor: pointer;
  }


  div ul li a {
    color: white;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    
  }





/* Services Page */

  .card{
    margin-left: 5rem;
  }

  .row h1{
    text-align: center;
  }

  .services-btn{
  
    margin-top: 1rem;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    
    font-size: 20px;
    background: #606c38ff;;
    position: relative;
    cursor: pointer;
    border-radius: 0.5rem;
    transition: all 0.5s ease-in-out;
}
.services-btn:hover{
    border: 1px sold #606c38ff;
    background: #bc6c25ff;;
    

    transform: translateY(-0.3em);
    transition: all 0.5s ease-in-out;

}

.row img{

    margin-left: 5rem;
    border: #fff;
    border-radius: 0.3rem;
    border-color:#dda15eff;;
    border-width: 2px;
    border-style: solid;
}

.navbar-nav > li a{
  border-radius: 50px;
}





.footer{
  position: fixed;
  width: 100%;
}

.col small a{
  text-decoration: none;
  color: white;
  transition: all 0.3s ease-in-out;

}
.col small a:hover{
  color:#bc6c25ff;
}

.textpart{
  width: 40%;
}


#footerrow small a{
  color: white;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
#footerrow small a:hover{
  color: #bc6c25ff;
  text-decoration: none;
}
.row small i{
  transition: all 0.3s ease-in-out;

}

.row small i:hover{
  cursor: pointer;
  color:#bc6c25ff
}

.row small i:hover{
  cursor: pointer;
  color:#bc6c25ff
}





.navbar-nav > li a:hover{
  background-color: #bc6c25ff;
  border-radius: 50px;

  color:white;
}

.navbardropdown:hover{
  
  background-color:#bc6c25ff;
  color: white;
}

.navbar-nav > li a{
  border-radius: 50px;
}